@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

:root {
  --primary-white: hsl(0, 0%, 98%);
  --primary-gray: hsl(0, 0%, 41%);
  --primary-black: hsl(0, 0%, 8%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Epilogue", sans-serif;
}

main {
  display: grid;
}

nav {
  display: flex;
  margin: 1.5rem 1rem;
  justify-content: space-between;
}

nav ul {
  display: none;
}

.hero {
  background-image: url(./images/image-hero-mobile.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  height: 300px;
  order: 1;
}

section {
  text-align: center;
  order: 2;
  margin: 1rem 0;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

p {
  color: var(--primary-gray);
  font-weight: 500;
  line-height: 1.25rem;
  padding: 0 1.75rem;
}

a {
  display: inline-block;
  background-color: var(--primary-black);
  color: var(--primary-white);
  text-decoration: none;
  inline-size: 35%;
  margin: 1.5rem 0;
  padding: 0.75rem 0.25rem;
  max-inline-size: 200px;
  border-radius: 12px;
  font-weight: 700;
}

.clients {
  order: 3;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.clients img {
  inline-size: 60px;
  object-fit: contain;
}
